In [1]:
import pandas as pd

input_file = "data/data.csv"
encoded_file = "data/encoded.csv"
output_file = "data/items.csv"

with open(input_file, "r", encoding="euc-kr") as f:
    text = f.read()

with open(encoded_file, "w", encoding="utf-8") as f:
    f.write(text)

df = pd.read_csv(encoded_file)
df.head()

,No.,보관방법,카테고리,품목군,품목코드,품목명,규격,단위,입고,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,수량,금액,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,냉동,농산가공품,과채가공품,337777.0,냉동구운마늘 하프컷 프레시리더스,500G,개,0,0,...,NaN,3.0,NaN,NaN,N,NaN,NaN,0.0,윤혜리,NaN
2,2.0,NaN,NaN,두부류,316518.0,이지쿡 다용도 수입콩두부 풀무원,"1KG, 대두 미국, 캐나다, 중국 등",개,0,0,...,NaN,3.0,NaN,NaN,N,NaN,NaN,0.0,윤혜리,NaN
3,3.0,NaN,베러푸즈,베러미트,321617.0,BF 식물성 베러 패티,"1.264KG, 79G*16±2EA",봉,0,0,...,NaN,3.0,NaN,NaN,N,NaN,NaN,0.0,윤혜리,NaN
4,4.0,NaN,베이커리,생지류,239830.0,모짜치즈볼 동우씨엔에프,28G*50개*6팩,박스,0,0,...,NaN,3.0,NaN,NaN,N,NaN,NaN,0.0,윤혜리,NaN

In [2]:
df = df[["품목코드", "품목명", "단위"]]
df.head()

       품목코드                품목명   단위
0       NaN                NaN  NaN
1  337777.0  냉동구운마늘 하프컷 프레시리더스    개
2  316518.0  이지쿡 다용도 수입콩두부 풀무원    개
3  321617.0       BF 식물성 베러 패티    봉
4  239830.0       모짜치즈볼 동우씨엔에프   박스

In [3]:
df = df.dropna()
df.head()

       품목코드                품목명  단위
1  337777.0  냉동구운마늘 하프컷 프레시리더스   개
2  316518.0  이지쿡 다용도 수입콩두부 풀무원   개
3  321617.0       BF 식물성 베러 패티   봉
4  239830.0       모짜치즈볼 동우씨엔에프  박스
5  335279.0   순쌀도나스 군고구마 해성푸드원   개

In [4]:
df["품목코드"] = df["품목코드"].astype(int)
df.head()

     품목코드                품목명  단위
1  337777  냉동구운마늘 하프컷 프레시리더스   개
2  316518  이지쿡 다용도 수입콩두부 풀무원   개
3  321617       BF 식물성 베러 패티   봉
4  239830       모짜치즈볼 동우씨엔에프  박스
5  335279   순쌀도나스 군고구마 해성푸드원   개

In [6]:
df.to_csv(output_file, index=False)